Leitura do arquivo .csv usando a biblioteca pandas e print de parte do dataframe.                                                                                         
Download do dataset: https://www.kaggle.com/datasets/dell4010/wine-dataset

In [1]:
import pandas as pd
# Aqui você deve especificar o caminho em que o .csv está na sua máquina
vinhos = pd.read_csv("C:\\Users\\dougl\\Documents\\UNB\\MDS\\Teste Machine Learning\\Dataset\\wine_dataset.csv")
vinhos.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

O objetivo do algoritmo vai ser determinar a coluna "Style", ou seja, determinar se um vinho é tinto (red) ou branco (white) baseado nas características dispostas nas demais colunas. Primeiramente, transformaremos os valores da coluna style em valores númericos.

In [2]:
vinhos['style'] = vinhos['style'].replace('red', 0)
vinhos['style'] = vinhos['style'].replace('white', 1)
vinhos.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,0
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,0

Agora armazenaremos os valores que queremos prever (coluna style), chamados de Target, na variável y e os valores que usaremos para essa previsão (demais colunas), chamados de Features, na variável x.

In [3]:
y = vinhos['style']
# A função drop do pandas remove linhas ou colunas de um dataframe com a especificação do nome e do eixo a ser removido (0 para linhas e 1 para colunas). Nesse caso
# removemos  a coluna "Styles" do dataframe
x = vinhos.drop('style', axis = 1)

In [4]:
x.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [5]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: style, dtype: int64

Usando a função train_test_split da biblioteca de machine learning sklearn, separaremos nossos dataframes features e target em duas categorias: treino e teste. De forma que, após treinar o algoritmo usando os dados de treino, poderemos verificar como ele se comporta com dados novos (os dados de teste).

In [6]:
from sklearn.model_selection import train_test_split
# A train_test_split separa, de forma aleatória, nossos dataframes em teste e treino, nesse caso especificamos que 30% do dataframe original ficará para teste
# e o resto para treino do algoritmo
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)
print(f"Dimensões do dataframe original: {vinhos.shape}\n" + 
     f"Dimensões das features de treino: {x_treino.shape}\n" +
     f"Dimensões das features de teste: {x_teste.shape}\n" +
     f"Dimensões do target de treino: {y_treino.shape}\n" +
     f"Dimensões do target de teste: {y_teste.shape}\n")

Dimensões do dataframe original: (6497, 13)
Dimensões das features de treino: (4547, 12)
Dimensões das features de teste: (1950, 12)
Dimensões do target de treino: (4547,)
Dimensões do target de teste: (1950,)

A partir desse ponto, todo o pré-processamento de dados foi finalizado e aqui que se inicia o treinamento do algoritmo. O algoritmo utilizado será o de Árvores de Decisão do pacote sklearn. Mais informações sobre esse algoritmo:                                                                                                         
https://didatica.tech/como-funciona-o-algoritmo-arvore-de-decisao/                                                                                                          
https://scikit-learn.org/stable/modules/tree.html

In [7]:
# Uso do algoritmo Classifier pois o problema é de classificação, isto é, o objetivo é classificar o vinho entre tinto ou branco
from sklearn import tree
# Chamada da função do algoritmo
arvore = tree.DecisionTreeClassifier()
# O método fit é usado para passar ao algoritmo nossas features e target
arvore.fit(x_treino, y_treino)
# O método score mostra a acurácia de acerto do modelo
resultado = arvore.score(x_teste, y_teste)
print(f"Acurácia = {resultado}\n")

Acurácia = 0.9876923076923076

In [8]:
# Selecão aleatoria de uma amostra de 10 linhas do target de teste
y_teste[74:84]

2230    1
1414    0
1781    1
4521    1
1885    1
6307    1
2898    1
394     0
5095    1
4526    1
Name: style, dtype: int64

In [9]:
# Dadas apenas as 12 features iniciais colocamos o algoritmo para prever qual será o respectivo valor target para cada linha
previsao = arvore.predict(x_teste[74:84])
print(previsao)

[1 0 1 1 1 1 1 0 1 1]

Nas três últimas celulas verificamos uma acurácia de em torno de 98% do algoritmo, e que dadas 10 linhas aleatórias do conjunto de teste ele conseguiu acertar 100% das previsões.

Código feito com base no seguinte artigo:
https://didatica.tech/seu-primeiro-codigo-de-machine-learning-com-python/